

<!-- pour centrer texte ajouter class container-->
<div class="container">

<h2 class="text-center" [ngStyle]="{color:'red'}">Bienvenue au Formulaire d'inscription  </h2>

  <div class="row custom-row">
    <div class= "col-sm-12 custom-container jumbotron">
      <legend>Veuillez Saisir vos coordonnées</legend>
      <div class="text-center"> <!-- maitre le texte  au milieu  -->
        <div>
          <img src="https://www.supinfo.com/articles/resources/204659/6316/1.png" width="20%" height="20%" alt="">
          <H2> Formulaire de Saisie  </H2>
        </div>
        <div>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <form class="form-vertical"  (ngSubmit)="submitForm(myform.value)">
                <fieldset>
                  <div class="form-group">
                    <div>
                      <label>Entré votre Nom Famille:</label>
                      <input type="text" name="name" ngModel class="form-control" autocomplete="off"/>
                    </div>
                  </div>

                  <div class="form-group">
                    <label>Entré votre Email:</label>
                    <input type="email" name="email" ngModel class="form-control" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label>Selctionner un sxe</label>
                    <select class="form-control" name="sexe" ngModel>
                      <option>Masculin</option>
                      <option>Feminin</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Votre Age:</label>
                    <input type="email" name="age" ngModel class="form-control" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label>Race:</label>
                    <input type="email" name="race" ngModel class="form-control" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label>Nourriture:</label>
                    <input type="email" name="nourriture" ngModel class="form-control" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label>Entré Un Mot de passe :</label>
                    <input type="password" name="pass" ngModel class="form-control" autocomplete="off"/>
                  </div>
                  <div class="form-group">
                    <label for="confirmPassword" >Confirm Password</label>
                    <input type="password" id="confirmPassword" ngModel placeholder="Password" class="form-control" autocomplete="off"/>
                  </div>
                  <br/>
                  <div class="form-group checkbox">
                    <label>
                      <input type="checkbox"> Confirm that you've read the Terms and
                      Conditions
                    </label>
                  </div>
                  <div class="form-group">
                    <input type="submit"class="btn btn-primary btn-block" value="valider"/>
                    <input type="reset"class="btn btn-default btn-block" value="annuler"/>
                  </div>

                </fieldset>
              </form>
            </div>
          </div>
        </div>

        <!--Grid row-->

        <!--
        <div class = "alert alert-block" >
          <button type = "button" class = "close" data-disable = "alert" > & times; </button>
          <h4> Attention! </h4>
          Mieux vaut vérifier vous-même, vous n'êtes pas ...
        </div>
        -->
      </div>
    </div>
  </div>


